* {
  box-sizing: border-box;
}

nav.nav {
  display: flex;
  background-color: #000;
}

nav div.brand {
  /* align-self: flex-start; */
  display: flex;
  flex-basis: 20%;
  padding-top: 20px;
  color: #fff;
  /* border: 1px solid black; */
  /* width: 20%; */
}

nav ul.ul {
  display: flex;
  flex-basis: 80%;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  padding-right: 5%;
  /* padding: 20px 0px 0 20px; */
}

ul.ul li.Li {
  color: #fff;
  padding: 0 20px;
  margin-bottom: 0;
  /* border: 1px solid black; */
}

ul.ul li.Li p {
  color: #fff;
  margin-bottom: 0;
}