nav.nav {
  display: flex;
  background-color: #888;
}

nav div.brand {
  /* align-self: flex-start; */
  display: flex;
  border: 1px solid black;
  width: 20%;
}

nav ul {
  display: flex;
  /* justify-content: flex-end; */
}

ul li.Li {
  color: #000;
  margin-bottom: 0;
  border: 1px solid black;
}

ul li.Li p {
  color: #000;
  margin-bottom: 0;
}